body {
  box-sizing: border-box;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  color: rgb(47, 47, 47);
}
* {
  /* border: 2px solid blue; */
}

/* ----------- navbar logo styling ------------ */
#nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 55px;
  margin: 5px auto auto auto;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.logo-section {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-section p {
  font-size: 0.8em;
  text-align: left;
  margin-top: 7px;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: #10847e;
}

.login-section {
  width: 40%;
}

.login-section li a {
  color: black;
  border: none;
  background-color: transparent;
}

.login-section > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.margin-left {
  margin: 3px;
}

.pincode {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-size: 0.8em;
}

.pincode img {
  height: 20%;
}

.logo-font {
  font-size: 1.2em;
}

/* ------------ navbar logo styling ------------ */

#nav-category {
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey;
}

#nav-category ul {
  display: flex;
  width: 45%;
  height: 90%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}
#nav-category ul li i {
  font-size: 0.6em;
}

ul li:hover {
  color: #10847e;
  font-weight: 500;
}

.prescript {
  /* border: 1px solid red; */
  width: 60%;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.flexend {
  align-self: flex-end;
}
.flexend span {
  color: #10847e;
  font-size: 0.9em;
  margin-left: 5px;
  font-weight: 600;
}
.flexend span i {
  font-size: 0.8em;
  margin-left: 5px;
}
.prescript p .margin-left {
  margin-right: 5px;
  font-size: 1.2em;
  align-self: flex-end;
}
.flexstart {
  align-self: center;
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(34, 32, 32);
}
.search {
  width: 60%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3px 10px 10px;
  border: 1px solid darkgrey;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.search input {
  width: 85%;
  height: 100%;
  border: none;
}
.search i {
  font-size: 30px;
  text-align: center;
  color: grey;
  font-weight: 600;
}

.search button {
  background-color: #10847e;
  border-radius: 50px;
  color: white;
  border: none;
  width: 100px;
  height: 43px;
  left: 0;
}

.search input::placeholder {
  color: grey;
  text-align: left;
}

/* Medicine Category Styling */

#main {
  width: 90%;
  margin: auto;
  margin-bottom: 150px;
}

#category {
  width: 80%;
  /* height: 120px; */
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 80%;
  /* border: 1px solid green; */
  margin: auto;
  border-bottom: 1px solid lightgray;
}

.card {
  width: 12%;
  font-size: 0.8em;
  justify-content: left;
  padding: 5px;
  /* border: 2px solid red;
   */
}
.card span {
  color: tomato;
}
.card p,
.card span {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1.1em;
}

.card p {
  margin-top: 3px;
}

.sliders {
  /* display: grid; */
  /* grid-template-columns: repeat(3,1fr);
  grid-template-row: 200px ; */

  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sliders img {
  width: 33%;
}
.lab-test {
  margin-top: 30px;
  font-size: 30px;
}
.thyrocare-logo img {
  height: 25px;
  color: rgb(32, 31, 31);
}

/* slider */

.slider-container {
  margin-top: 40px;
  margin-bottom: 40px;
  /* border: 2px solid red; */
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
}

.slider-item {
  flex: 0 0 180px;
  max-width: 25%;
  padding: 0 10px;
  height: 186px;
  /* border: 2px solid red; */
  box-sizing: border-box;
}

.slider-item img {
  width: 100%;
  display: block;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 2;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.owp-div {
  width: 100%;
  height: auto;
  border: 1px solid #b5cdf78d;
  display: flex;
}

.owp1st {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b5cdf78d;
  padding: 25px 20px;
}
.owp1st > div {
  /* border: 1px solid blue; */
  width: 80%;
  font-size: 0.8em;
  padding: 10px;
  margin-left: 15px;
}
.owp1st div div h3 {
  font-size: 1.6em;
}
.owp1st div div p {
  color: red;
  color: rgb(42, 39, 39);
}
.owp2nd {
  width: 59%;
  height: 100%;
  padding: 10px 20px;
}

.owp2nd-in {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.owp2nd-in > div > span:first-child {
  background-color: #b5cdf78d;
  color: #3661b0;
  padding: 4px 7px;
  border-radius: 5px;
  margin-right: 10px;
}

.upload {
  border: none;
  padding: 10px 15px;
  background-color: #10847e;
  color: white;
  border-radius: px;
}
